* {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
}

/* TODO: choose suitable colors */

html {
  background-color: #f0f0f0;
  font-size: 16px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

#container {
  margin: 1.5em auto;
}

.page-title {
  text-align: center;
  font-size: 4em;
  font-weight: 800;
}

/* TODO: align icon */
.icon-github {
  width: 1.2em;
  height: 1.2em;
  vertical-align: text-bottom;
}

.icon-github:hover {
  opacity: 0.6;
}

.graph-painter {
  width: 100%;
  /* display: flex; */
  align-items: top;
  justify-content: space-around;
  margin: 2em .5em;
}

.graph-painter>div {
  margin: 0 auto;
}

.canvas-section>#graph-canvas {
  margin: .5em auto;
}

#graph-canvas {
  width: 500px;
  height: 400px;
  display: block;
  border: 1px solid black;
  background-color: white;
}

.graph-controller {
  height: 400px;
}

.graph-controller>div {
  margin: .5em auto;
}

#text-graph, #number-time {
  display: block;
  margin: 0 auto;
  font-size: 1em;
}

#text-graph {
  margin-top: 1em;
  width: 80%;
}

.graph-controller label {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

.graph-input-row>label {
  margin-bottom: .2em;
}

/* || Time Input Row */
#time-input {
  display: block;
  margin: 0 auto;
}

/* || Button Row */
div.button-row {
  margin: 1em auto;
  width: fit-content;
}

.button-row>button {
  font-size: 1.5em;
  padding: 0 .5em;
  margin: 0 .5em;
}

/* || Graph Examples Grid */
.graph-examples {
  display: grid;
  min-width: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  gap: 1em;
  margin: 1em;
}

.graph-examples>div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(70, 185, 227);

  /* make text center */
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-example:hover {
  background-color: rgb(70, 185, 227);
  color: white;
}

@media screen and (min-width: 1600px) {
  .graph-painter {
    /* display: flex; */
    column-count: 3;
    column-rule: 4px dotted rgb(79, 185, 227);
  }

  .graph-painter>div {
    break-inside: avoid;
  }
}